@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
 @import url('https://fonts.googleapis.com/css?family=Bitter');

body{
  margin: 0px;
  padding: 0px;
}

nav {
  height: 60px;
  width: 100%;
  background-color: rgb(68, 67, 71);
  position: fixed;
  padding-top: 20px;

  font-size: 30px;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Slabo 27px', serif;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

nav ul {
  padding: 0px;
  margin: 0px;

  list-style: none;

}

nav ul li {
  display: inline;
  padding-right: 30px;
}
nav ul li a{
  display: inline;
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover{
  text-decoration: underline;

}

h1 {
  font-family: 'Bitter', serif;
  text-decoration: underline;
  font-size: 50px;
}

h2 {
  font-family: 'Bitter', serif;
  font-size: 30px;
}

p {
  font-size: 20px;
  font-family: calibri;
}

.header {
  background-image: url(images/dog-142668_1920.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 80px;

  width: 100%;
  height: 400px;

  font-family: 'Roboto Slab', serif;
  color: #fff;
  font-size: 500%;
}

.header-text {
  padding-top: 150px;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;

  border: 0px;
  border-top: 1px;
  border-style: solid;
  border-color: #323232;
}

.info {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 300px;
}

.left {
	width: 50%;
	float:left;
}

.right {
  padding-left: 50%;
}

.in-text {
  color: rgb(49, 157, 35);
  text-decoration: none;
}

.in-text:hover {
  text-decoration: underline;
}

/*
  Footer
*/

.footer {
  background-color: rgb(61, 61, 61);
  height: 100px;
}

.footer-ul {
  list-style: none;
  display: inline;
  float: right;

  padding-right: 3%;
  padding-left: 0px;
  padding-top: 25px;

  width: 20%;
}

.footer-li {
  padding-right: 3%;
  display: inline;

}

.footer-a {
  text-decoration: none;
  font-family: Calibri;
  font-size: 20px;
  color: rgb(161, 161, 161);
}

.footer-a:hover {
  text-decoration: underline;
}

.copyright {
  padding-left: 3%;
  padding-right: 0px;
  padding-top: 40px;

  font-family: Calibri;
  font-size: 20px;
  color: rgb(161, 161, 161);
}

/*
 Kontakt
 */

 .form {
   font-size: 20px;
   color: rgb(56, 56, 56);
   font-family: calibri;
 }

 input[type=Text].form-text {
   height: 40px;
   width: 30%;
   border: 1px;
   border-style: solid;
   border-radius: 2px;
   border-color: #dddddd;
 }

 .form-naricht {
   height: 100px;
   width: 30%;
   border: 1px;
   border-style: solid;
   border-radius: 2px;
   border-color: #dddddd;

   font-family: Calibri;
 }

 input[type=email].form-mail {
   height: 40px;
   width: 30%;
   border: 1px;
   border-style: solid;
   border-radius: 2px;
   border-color: #dddddd;
 }

 .submit {
   border-style: none;
   border-radius: 5px;

   width: 130px;
   height: 40px;

   font-size: 15px;

   background-color: rgb(41, 176, 71);
   color: #fff;
 }

 .submit:hover {
   border: 1px;
   border-style: solid;
   border-color: rgb(41, 176, 71);
   border-radius: 5px;
   color: rgb(41, 176, 71);


   transition: 1s;
   background-color: transparent;
 }

/*Impressum*/

.impressum {
  color: #000;
  font-size: 20px;
  font-family: Calibri;
}


 .placeholder {
   padding-bottom: 50px;
 }
